@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: rgb(236, 238, 240);
    --text: rgb(54, 54, 54);
}

body {
    font-family: "Anonymous Pro", monospace;
    background-color: var(--bg-color);
    font-size: 1rem;
    color: var(--text);
}

.form-title input {
    font-family: inherit;
    font-size: inherit;
    padding: 10px;
    border: 2px solid var(--text);
    border-radius: 5px;
    width: 100%;
}

textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 10px;
    border: 2px solid var(--text);
    border-radius: 5px;
    width: 55%;
    margin-top: 10px;
}

button {
    border: none;
    background-color: var(--bg-color);
}

h1,
section {
    padding: 1.5rem;
}

h2 {
    padding: 1.5rem 0;
}

span.material-icons {
    font-size: 2rem;
}

span.material-icons.task-importance {
    font-size: 1.4rem;
}

.hidden {
    display: none;
}

/* Add task form */

#add-task-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
}

.form-title {
    width: 55%;
}

.form-important {
    width: 15%;
    text-align: center;
}

.form-expand {
    width: 15%;
    text-align: center;
}

.form-submit-btn {
    width: 15%;
    text-align: center;
}

.form-additional-fields {
    width: 100%;
}

/* Task elements */

li {
    list-style-type: none;
    width: 500px;
}

.task-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem 0;
    border-bottom: 2px dashed var(--text);
}

.task-title {
    font-weight: 400;
    font-size: 1.3rem;
    display: flex;
}

.task-title label {
    padding-right: 20px;
}

input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
}

.task-title input[type="checkbox"] + label::after {
    content: "check_box_outline_blank";
}

.task-title input[type="checkbox"]:checked + label::after {
    content: "check_box";
}

/* .task-title input[type="checkbox"] + label::after {
    content: "star_outline";
}

.task-title input[type="checkbox"]:checked + label::after {
    content: "star";
} */
