@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: rgb(236, 238, 240);
    --text: rgb(54, 54, 54);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: "Anonymous Pro", monospace;
    background-color: var(--bg-color);
    font-size: 1rem;
    color: var(--text);
}

.form-title input {
    font-family: inherit;
    font-size: 1.2rem;
    color: inherit;
    padding: 15px;
    border: 2px solid var(--text);
    border-radius: 5px;
    width: 100%;
}

button {
    border: none;
    background-color: var(--bg-color);
}

h1,
section {
    padding: 1.5rem;
}

h2 {
    padding: 1.5rem 0;
}

.hidden {
    display: none;
}

/* Add task form */

#add-task-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
}

.form-title {
    width: 80%;
}

.form-important {
    text-align: center;
}

.form-expand {
    text-align: center;
}

.form-submit-btn {
    text-align: center;
}

form .material-icons {
    font-size: 2.2rem;
}

form {
    align-items: center;
    justify-content: space-between;
}

/* Task elements */

li {
    list-style-type: none;
    width: 500px;
}

.task-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 0;
    border-bottom: 2px dashed var(--text);
}

.task-title {
    font-weight: 700;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

.checkbox-importance {
    padding-right: 30px;
}

input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
}

.checkbox-completed input[type="checkbox"] + label::after {
    content: "check_box_outline_blank";
}

.checkbox-completed input[type="checkbox"]:checked + label::after {
    content: "check_box";
}

.checkbox-importance input[type="checkbox"] + label::after {
    content: "star_outline";
}

.checkbox-importance input[type="checkbox"]:checked + label::after {
    content: "star";
}

.remove-task {
    display: flex;
}

button {
    font-family: inherit;
    font-size: 0.9rem;
}

.sort-menu,
.filter-menu {
    font-size: 0.9rem;
    padding: 10px 0;
}

.sort-menu > .material-icons {
    font-size: 0.8rem;
}
